/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("");
  --header-bg-color: #000000; /** Transparent color if adding header bg-image **/
  --header-font-color: #d3d3d3;
  --brand-font-size: 2rem;
  --logo-width: 250px;
  --menu-top-bg-color: #7a4422;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Open Sans", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Times New Roman", serif;
  --link-color: #7a4422;
  --darkest-color: #000000;
  --medium-color: #5a5a53;
  --light-color: #b9d432;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
